.table{
    border-collapse: collapse;
    margin: 30px auto;
    width: 85%;
}
.title{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
}

.delete ,.edit{
    background-color:transparent;
     color: #fff;
    border: none; 
}
.delete:hover{
    color:red;
}
.edit:hover{
    color:#5E7CE2;
}
.modInput{
    display:flex;
    flex-direction:column;

}

.updatebtn{
    
    border-radius: 5px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 2px 0px 2px;
    cursor: pointer;
}
.table-head{
    background-color: #000000;
    color: #fff;
    font-weight: bold;
}